*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f8f5f2;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.auth-container{
    width:420px;
    background:white;
    padding:40px;
    border-radius:16px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.logo{
    text-align:center;
    margin-bottom:10px;
}

.logo h1{
    color:#d63384;
}

.subtitle{
    text-align:center;
    color:#666;
    margin-bottom:30px;
}

.input-group{
    margin-bottom:18px;
}

.input-group label{
    display:block;
    margin-bottom:6px;
    font-weight:600;
}

.input-group input{
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
}

.input-group input:focus{
    border-color:#d63384;
    outline:none;
}

.auth-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#d63384;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.auth-btn:hover{
    background:#bf2c74;
}

.bottom-text{
    text-align:center;
    margin-top:20px;
}

.bottom-text a{
    color:#d63384;
    text-decoration:none;
}