nav.bg-white {
    background-color: var(--white);
    color: var(--text);
}

nav a,
nav button{
    color: inherit;
    transition:.3s;
}

nav a:hover{
    color:#db2777;
}

nav button.bg-pink-600{
    color: white;
}

nav button:not(.bg-pink-600):hover{
    color:#db2777;
}

#mobileMenu{
    background-color: var(--white);
    border-color: var(--light);
}
