sqlalchemy
fastapi
uvicorn
pydantic
pydantic-core
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
email-validator
asyncpg
grpcio 
grpcio-status
cffi
cryptography
google-genai
google-generativeai
httpx
bcrypt
python-multipart
requests
typing-extensions